<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Web Template Chooser</title>
    <link rel="icon" type="image/png" href="/img/Distinct-Favicon.png">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main class="container my-4">
        <h3 class="text-center mb-3">TEMPLATES</h3>
        <div class="template row row-cols-1 row-cols-md-3 g-4">
            <% data.forEach(item=> { %>
            <div class="col">
                <div class="card h-100">
                    <img src="<%= item.desktop_thumbnail_url %>" class="card-img-top p-2" style="width: 100%">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= item.template_name %></h5>
                        <p style="font-size: .8rem">ID: <%= item.template_id %></p>
                        <a class="btn btn-primary" href="<%= item.preview_url %>" target="_blank" style="width: 7rem; margin: .2rem; background-color: #e07f00; border: none; font-size: .8rem">PREVIEW</a>
                        <a class="btn btn-primary" onclick="getTemplateInfo('<%= item.template_name %>', '<%= item.template_id %>', '<%= item.desktop_thumbnail_url %>')" data-bs-toggle="modal" data-bs-target="#show-modal" style="width: 7rem; margin: .2rem; background-color: #5e207a; border: none; font-size: .8rem">BUY</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

        <!-- MODAL -->
        <div class="modal fade" id="show-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/checkout" method="post" onsubmit="checkFields()" name="modal-form">
                        <input type="hidden" id="template-id-value" name="templateid" required>
                        <div class="modal-body">
                            <span id="desktop-thumbnail"></span>
                            <p></p>
                            <label for="modal-companyname" class="form-label">Company Name:</label>
                            <input type="text" class="form-control" id="modal-companyname" name="companyname" required>
                            <p></p>
                            <label for="modal-email" class="form-label">Email Address:</label>
                            <input type="email" class="form-control" id="modal-email" name="email" required>
                            <p></p>
                            <label for="modal-firstname" class="form-label">First Name:</label>
                            <input type="text" class="form-control" id="modal-firstname" name="firstname" required>
                            <p></p>
                            <label for="modal-lastname" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" id="modal-lastname" name="lastname" required>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="btn-proceed" style="width: 12rem; margin: .2rem; background-color: #5e207a; border: none; font-size: .8rem">PROCEED TO CHECKOUT</button>
                            <button class="btn btn-primary d-none" id="btn-loading" style="width: 12rem; margin: .2rem; background-color: #5e207a; border: none; font-size: .8rem" disabled>
                                <span class="spinner-border spinner-border-sm"></span>
                                LOADING...
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/app.js"></script>
</body>

</html>
